
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: navy; 
    color: black; 
}


.game {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

.title{
    padding-top: 20px; 
    align-items: center;
    text-align: center;  
}

.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    top: 70px;
    z-index: 1;
    border: 5px dashed black; 
    margin-top: 40px; 
}

.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.options{
    display: flex;
    width: 50vw;
    align-content: center; 
    justify-content: space-evenly;
    margin-top: 2rem;
}

.rock, .paper, .scissor{
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: green;
    outline: none;
    border-color: green;
    border: none;
    color: white;
    opacity: 0.6; 
}

.rock:hover{
    opacity: 1;
    transition-duration: 1s;
}

.paper:hover{
    opacity: 1;
    transition-duration: 1s
}

.scissor:hover{
    opacity: 1;
    transition-duration: 1s;
}

.move{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
}

.moves-left{
    padding-bottom: 5px; 
}

.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
}


.mouseI{
    background-color: green; 
    margin-top: 20px; 
}

.reload:hover{
    opacity: 1;
    transition-duration: 1s;
}

.result{
    padding-top: 40px; 
    font-size: 1.2rem;
}

@media screen and (max-width: 612px)
{  
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
        padding-top: 10px; 
    }

}
